
*.wt
*.snappy
*.turtle
*.ns

# Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Backups de notebooks (seguros para ignorar)


*.log
*.tmp

__pycache__/
*.pyc

# macOS
.DS_Store
__MACOSX/
._*

# Windows
Thumbs.db
