# MongoDB data folders
mongo_data/
*/mongo_data/
*/journal/
journal/
*.wt
*.ns

# SQLite databases
*.sqlite
*.db

# Jupyter notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Large notebooks backups
*.ipynb~

# Logs
*.log
*.tmp

# Python cache
__pycache__/
*.pyc

# OS system files
.DS_Store
Thumbs.db
# MAC basura
__MACOSX/
._*

# MongoDB
mongo_data/
journal/
*.wt
*.snappy
*.turtle

# SQLite
*.sqlite

# Jupyter pesados
*.ipynb

