
# MongoDB data folders (muy pesados)
mongo_data/
*/mongo_data/
journal/
*/journal/
*.wt
*.snappy
*.turtle
*.ns

# SQLite
*.sqlite
*.db

# Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Backups de notebooks (seguros para ignorar)
*.ipynb~

*.log
*.tmp

__pycache__/
*.pyc

# macOS
.DS_Store
__MACOSX/
._*

# Windows
Thumbs.db
